code {
    font-size: 18px;
    background-color: var(--code-bg-color);
    display: block;
    max-width: 800px;
    padding: 1.5rem;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    margin-top: 1rem;
}

code:before, code:after {
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow: 0 10px 6px -6px rgba(251, 151, 74, 0.8);
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    border-radius: 10px;
}